*{
    margin: 0;
    padding: 0;
    box-shadow: 0;    
}

body{
    background: #f8f8f8 !important;
}

label{
    color: #0c326f;
    font-weight: 500;
}

.btn-primary {
    color: #fff;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

.cabecario{
    background-color: #343a40;
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}   

.cabecario .logo{
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    margin-left: 0;
    width: 100px;
    height: 100px;
}

.text-header{
    color: #FFF;
    text-align: center;
    font-size: 2rem;
}

/* FORM CHAMADO */
.constainer-card{
    margin-top: 6rem;
    margin: 0 auto;
    max-width: 500px;
    background: #F7F7F7;
    box-shadow: 2px 2px 10px rgb(177 155 155 / 77%);
    border-radius: 0.7rem;
}

.fechar{
    display: none;
}

/* */

@media (max-width: 700px) { /* ESTIVER NO CELL */
    .constainer-card{
        max-width: 85%;
    } 
}